body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 .5em;
  line-height: 1.25
}

h1 {
  font-size: 2em
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.2em
}

ul,
ol {
  margin: 1em 0;
  padding-left: 40px
}

p,
figure {
  margin: 1em 0
}

a img {
  border: none
}

sup,
sub {
  line-height: 0
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  margin: 5px;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.loading {
  background: grey
}